
<h4><%= task.title.titleize %></h4>

<!-- <p>
  <strong>Aberta por</strong>
  <%= task.open_user_id %>
</p>

<p>
  <strong>Responsáve</strong>
  <%= task.user_id %>
</p> -->

<p>
  <%= task.status.name %>
</p>

<p>
  <%= task.project.client.name %> > <%= task.project.name %>
</p>

<p>
  <%= task.category.name %>
</p>

<p>
  <strong>Início em: </strong>
  <%= task.start_at.strftime("%d/%m/%y as %H:%M") %>
</p>

<% if @task.conclusion_at.present? %>
  <p>
    <strong>Conclusão prevista: </strong>
    <%= task.conclusion_at.strftime("%d/%m/%y as %H:%M") %>
</p>
<% end %>

<% if @task.status_id == 4%>
  <p>
   <strong>Entregue em: </strong>
    <%= task.finish_at.strftime("%d/%m/%y as %H:%M") %>
  </p>
<% end %>

<p>
 <strong>Esforço Estimado</strong>
  <%= task.effort_min %> <small>min.</small>
</p>

<p>
 <strong>Tempo trabalhado</strong>
  <%= task.total_minutes %> <small>min.</small>
</p>

<p>
  <%= task.description %>
</p>

