<p id="notice"><%= notice %></p>

<!-- <h3>Tarefas</h3> -->
<div id="main-overlay" class="overlay overlay-black"></div>

<div class="row">
  <div class="col m6">
    <%= link_to 'New Task', new_task_path %>
    <ul>
    <% @tasks.each do |task| %>
      <li class="li_sidebar_trigger" data-task_id="<%= task.id %>">
        <p><strong><%= task.title %></strong></p>
        <p class="description"><%= task.project.client.name %> > <%= task.project.name %></p>
        <p class="description"><%= task.status.name %></p>
      </li>
    <% end %>
    </ul>    
  </div>
  <div class="col m6">
    
  </div>
</div>

<div class="sidebar sidebar-right">
  <div class="overlay overlay-white"></div>
  <p id="msg" class="center">Nenhuma tarefa iniciada neste momento</p>
  <div id="task_selected"></div>    
</div>


