<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <!-- Navbar goes here -->
  <!-- <nav>
    <div class="nav-wrapper primary">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav> -->

  <!-- Page Layout here -->
  <div class="row">

  <!--   <section id="sidebar">
        <ul>
          <li><%= link_to 'Tarefas', tasks_path %></li>
          <li><%= link_to 'Projetos', projects_path %></li>
        </ul>
    </section>  -->

    <div id="main" class="container">
      <%= yield %>
    </div>

  </div>
  </body>
</html>
